<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in" >
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher> 

    <div ng-controller="ActivityCtrl" ng-repeat="f in feed" class="card stable-bg ink ink-dark animate-fade-slide-in-right" >
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <strong>{{f.firstname}} {{f.lastname}}</strong> buys a frekin' {{f.name}}.
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left" ng-if="f.datediff > -1">
                            <i class="icon ion-clock"></i> <time am-time-ago="f.date"></time> 
                        </div>
                        <div class="pull-left" ng-if="f.datediff <= -1">
                            <i class="icon ion-clock"></i> <span>{{f.date| amCalendar}}</span>
                        </div>
                    </div>
                </div>
            </div>
            
    </ion-content>
</ion-view>


