<ion-view hide-nav-bar="true" hide-back-button="true" title="Ange personnummer">
  <img ng-src="img/restaurant-people-alcohol-bar.jpg" style="position: fixed; width: auto; height: 100%; left: -80%;">
  <ion-content scroll="false" class="padding">
    <div class="col header text-center">
       <h1 style="margin-top:120px;">streckbase</h1>
    </div>  
    <form class="list">
      <ion-list>
        <label class="item item-input inputField">
          <input style="color:white;" type="text" pattern="\d*" ng-enter placeholder="Personnummer" ng-model="user.user_id" ng-minlength="10" ng-maxlength="12" required>
        </label>      
      <button class="button button-royal-900 button-block button-large" ng-disabled="!user.user_id" ng-click="checkID()">OK</button>
      <a href="#/login" class="button button-light button-clear button-block">Gå tillbaks</a>
    </form>
  </ion-content>
</ion-view>