<ion-view hide-nav-bar="true" hide-back-button="true" view-title="Logga in">
  <ion-content scroll="false" class="login-container">
    <section>
      <div class="col header text-center">
         <!-- <img src="./img/ionic.png" class = "logo" /> -->
         <h1 style="margin-top:120px;">streck.app</h1>
      </div>
      <div class="list">
        <ion-md-input placeholder="email" highlight-color="balanced" type="email" ng-model="user.email"></ion-md-input>
        <ion-md-input placeholder="lösenord" highlight-color="energized" type="password" ng-model="user.password"></ion-md-input>
      </div>
      <div class="padding">
        <button class="button button-full button-assertive ink" ng-disabled="!user.email || !user.password" ng-click="login()">Logga in</button>
      </div>			
	</section>	
  </ion-content>
</ion-view>