<ion-view hide-nav-bar="true" hide-back-button="true" view-title="Logga in">
  <ion-content scroll="false" class="padding login-container">
    <div class="col header text-center">
       <h1 style="margin-top:120px;">streck.app</h1>
    </div>  
    <form class="list">
      <ion-list>
        <label class="item item-input inputField">
          <input style="color:white;" type="email" placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input inputField">
          <input style="color:white;" type="password" placeholder="Lösenord" ng-model="user.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button class="button button-positive button-block button-large" ng-disabled="!user.email || !user.password" ng-click="login()">Logga in</button>
      <a href="#/id" class="button button-light button-clear button-block ">Ny användare</a>
    </form>
  </ion-content>
</ion-view>