<ion-view hide-nav-bar="true" hide-back-button="true" title="Uppdatera användare">
  <img ng-src="img/pexels-photo-12322.jpg" style="position: fixed; width: auto; height: 100%; left: -50%;">
  <ion-content scroll="false" class="padding">
    <div class="col header text-center">
       <h1 style="margin-top:120px;">streckbase</h1>
    </div>  
    <form class="list">
      <ion-list>
        <label class="item item-input inputField">
          <input style="color:white;" type="email" ng-enter placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input inputField">
          <input style="color:white;" type="password" ng-enter placeholder="Lösenord" ng-model="user.password">
        </label>
        <label class="item item-input inputField">
          <input style="color:white;" type="password" ng-enter placeholder="Repetera lösenord" ng-model="user.repeat_password">
        </label>
      </ion-list>
      <button class="button button-royal-900 button-block button-large" ng-disabled="!user.email || !user.password || !user.repeat_password" ng-click="register()">Registrera</button>
      <a href="#/login" class="button button-assertive button-clear button-block">Avbryt</a>
    </form>
  </ion-content>
</ion-view>