<ion-view hide-nav-bar="true" hide-back-button="true" title="Uppdatera användare">
  <ion-content scroll="false" class="padding register-container">
    <div class="col header text-center">
       <h1 style="margin-top:120px;">streck.app</h1>
    </div>  
    <form class="list">
      <ion-list>
        <label class="item item-input inputField">
          <input style="color:white;" type="email" placeholder="Email" ng-model="user.email">
        </label>
        <br>
        <label class="item item-input inputField">
          <input style="color:white;" type="password" placeholder="Lösenord" ng-model="user.password">
        </label>
        <br>
        <label class="item item-input inputField">
          <input style="color:white;" type="password" placeholder="Repetera lösenord" ng-model="user.repeat_password">
        </label>
      </ion-list>
      <button class="button button-calm button-block button-large" ng-disabled="!user.user_id || !user.firstname || !user.firstname || !user.email || !user.password" ng-click="register()">Registrera</button>
      <a href="#/login" class="button button-assertive button-clear button-block">Avbryt</a>
    </form>
  </ion-content>
</ion-view>