<ion-view hide-nav-bar="true" hide-back-button="true" title="Glömt lösenord">
  <ion-content scroll="false" class="padding reset-container">
    <div class="col header text-center">
       <h1 style="margin-top:120px;">streck.app</h1>
    </div>  
    <form class="list">
      <ion-list>
        <label class="item item-input inputField">
          <input style="color:white;" type="text" pattern="\d*" ng-enter placeholder="Personnummer" ng-model="user.user_id">
        </label>
        <label class="item item-input inputField">
          <input style="color:white;" type="email" ng-enter placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input inputField">
          <input style="color:white;" type="password" ng-enter placeholder="Nytt lösenord" ng-model="user.new_password">
        </label>
        <label class="item item-input inputField">
          <input style="color:white;" type="password" ng-enter placeholder="Repetera lösenord" ng-model="user.repeat_password">
        </label>
      </ion-list>
      <button class="button button-calm button-block button-large" ng-disabled="!user.user_id || !user.email || user.new_password != user.repeat_password" ng-click="resetPassword()">Spara nytt lösenord</button>
      <a href="#/login" class="button button-assertive button-clear button-block">Avbryt</a>
    </form>
  </ion-content>
</ion-view>