<ion-view title="Mina köp">
  <ion-content class="padding has-header has-tabs">
    <p ng-show="infoText">{{infoText}}</p>
    <ul class="list">
        <!-- <li class="item" ng-repeat="p in myPurchases"> -->
        <div class="card" ng-repeat="p in myPurchases">
          <div class="item item-text-wrap">
            {{p.multi}}st {{p.name}} {{(p.price) * (p.multi)}}kr
            <div class="pull-right">
              <i class="icon ion-clock"></i> <span><small>{{p.date | amTimeAgo}}</small></span> 
            </div>
          </div>                 
          <div class="card-footer text-right">
            <div class="pull-left" ng-if="f.datediff >= -1">
              <i class="icon ion-clock"></i> <span>{{p.date | amTimeAgo}}</span> 
            </div>
            <div class="pull-left" ng-if="f.datediff < -1">
              <i class="icon ion-clock"></i> <span>{{p.date | amTimeAgo}} ({{p.date | amCalendar | amDateFormat :'YYYY/MM/DD'}})</span>
            </div>
          </div>
        </div>
        <!-- </li> -->
    </ul>
  </ion-content>
</ion-view>