<ion-view title="Mina köp">
  <ion-content class="padding has-header has-tabs">
    <p ng-show="infoText">{{infoText}}</p>  
    <div class="list">
      <div class="card" ng-repeat="p in myPurchases">
        <div ng-if="p.hourdiff == 0" on-double-tap="deleteItem(p.id, p.multi, p.name, p.price)" on-hold="deleteItem(p.id, p.multi, p.name, p.price)">
          <div class="item item-text-wrap">
            {{p.multi}}st {{p.name}} {{(p.price) * (p.multi)}}kr
            <div class="pull-right">
              <i class="icon ion-clock"></i> <span><small>{{p.date | amTimeAgo}}</small></span>
            </div>
          </div>
        </div>
        <div ng-if="p.hourdiff >= 1" style="background-color: #DDDDDD;">
          <div class="item item-text-wrap">
            {{p.multi}}st {{p.name}} {{(p.price) * (p.multi)}}kr
            <div class="pull-right">
              <i class="icon ion-clock"></i> <span><small>{{p.date | amTimeAgo}}</small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>