<ion-view title="Ändra lösenord">
  <ion-content class="padding has-header has-tabs">
    <form class="list">
      <ion-list>
        <label class="item item-input inputField">
          <input style="color: white;" type="password" placeholder="Nuvarande lösenord" ng-model="user.password">
        </label>
        <label class="item item-input inputField">
          <input style="color: white;" type="password" placeholder="Nytt lösenord" ng-model="user.new_password">
        </label>        
        <label class="item item-input inputField">
          <input style="color: white;" type="password" placeholder="Reptera lösenord" ng-model="user.repeat_password">
        </label>
      </ion-list>
      <button class="button button-positive button-block ink" ng-disabled="!user.password || user.new_password != user.repeat_password" ng-click="updatePassword()">Spara</button>
    </form>
  </ion-content>
</ion-view>