<ion-view view-title="Händelser">
  <ion-content class="has-header has-tabs">
  <ion-refresher pulling-text="Dra för att uppdatera..." on-refresh="doRefresh()"></ion-refresher> 
    <div ng-controller="FeedCtrl" ng-repeat="f in feed" class="card">
      <a class="item item-avatar item-text-wrap" href="#/tab/feed/{{f.id}}?tmp={{f.firstname}}&tmp={{f.multi}}&tmp={{f.name}}">
        <span class="avatar" style="background-image: url('{{f.image}}');"></span>
        <span ng-if="f.image == 'pink' || f.image == 'blue' || f.image == 'green' || f.image == 'purple'" class="avatar" ng-class="f.image"></span>
        <div ng-if="f.multi == 1"><strong>{{f.firstname}} {{f.lastname}}</strong> buys a {{f.name}}.</div>
        <div ng-if="f.multi > 1"><strong>{{f.firstname}} {{f.lastname}}</strong> gettin' loooaded with {{f.multi}} {{f.name}}.</div>
        <div class="card-footer text-right">
          <i class="icon ion-chatbubbles positive"></i> {{f.comments}}
          <div class="pull-left" ng-if="f.datediff >= -1">
            <i class="icon ion-clock"></i> <span>{{f.date | amTimeAgo}}</span> 
          </div>
          <div class="pull-left" ng-if="f.datediff < -1">
            <i class="icon ion-clock"></i> <span>{{f.date | amTimeAgo}} {{f.date | amCalendar | amDateFormat :'YYYY/MM/DD'}}</span>
          </div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>