<ion-view view-title="Inställningar">
  <ion-content class="padding has-header" overflow-scroll="true">
    <div class="list card">
      <div class="item" ng-if="debt > 0">
        <h2 class="">{{firstname}} {{lastname}} <span ng-show="admin">(admin)</span> <span class="assertive" style="float:right;">{{debt}}kr</span></h2>        
        {{email}}
      </div>    
      <div class="item" ng-if="debt <= 0">
        <h2 class="">{{firstname}} {{lastname}} <span ng-show="admin">(admin)</span> <span class="balanced" style="float:right;">{{debt}}kr</span></h2>        
        {{email}}        
      </div>    
    </div>
    <div class="list card">
      <a class="item item-icon-right" href="#/tab/settings/purchases">
        <p class="dark">Mina köp</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>    
    <div class="list card" style="margin-top: 40px;">
      <a class="item item-icon-right" href="#/tab/settings/email">
        <p class="dark">Ändra email</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <div class="list card">
      <a class="item item-icon-right" href="#/tab/settings/password">
        <p class="dark">Ändra lösenord</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <div class="list card" ng-show="admin">
      <a class="item item-icon-right" href="#/tab/settings/new/">
        <p class="dark">Lägg till ny vara</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <div class="list card" style="margin-top: 40px;">
      <div class="item item-toggle">
        <p class="dark">Vibration vid köp</p>
        <label class="toggle">
          <input type="checkbox" ng-model="settings.allowVibration" ng-change="updateSetting('allowVibration')">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>    
    <div class="list card" ng-show="ios">
      <div class="item item-toggle">
        <p class="dark">Ljud vid köp</p>
        <label class="toggle">
          <input type="checkbox" ng-model="settings.allowAudio" ng-change="updateSetting('allowAudio')">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
    <div class="list card">
      <div class="item item-toggle">
        <p class="dark">Cacha data för prestanda</p>
        <label class="toggle">
          <input type="checkbox" ng-model="settings.cacheData" ng-change="updateSetting('cacheData')">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>        
    <button class="button button-block button-assertive ink" style="margin-top: 40px;" ng-click="logout()">Logga ut</button>

    <!-- Ugly, but simple bugfix: -->
    <div class="list card" style="opacity: 0">
      <div class="item">
      </div>
    </div>     
  </ion-content>
</ion-view>