<ion-view view-title="Inställningar">
  <ion-content scroll="false" class="padding has-header has-tabs">
    <div class="list card">
      <div class="item" ng-if="debt > 0">
        <h2 class="">{{firstname}} {{lastname}} <span ng-show="admin">(admin)</span> <span class="assertive" style="float:right;">{{debt}}kr</span></h2>        
        {{email}}
      </div>    
      <div class="item" ng-if="debt <= 0">
        <h2 class="">{{firstname}} {{lastname}} <span ng-show="admin">(admin)</span> <span class="balanced" style="float:right;">{{debt}}kr</span></h2>        
        {{email}}        
      </div>    
    </div>
    <div class="list card">
      <a class="item item-icon-right" href="#/tab/settings/purchases">
        <p class="dark">Mina köp</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>    
    <div class="list card">
      <a class="item item-icon-right" href="#/tab/settings/email">
        <p class="dark">Ändra email</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <div class="list card">
      <a class="item item-icon-right" href="#/tab/settings/password">
        <p class="dark">Ändra lösenord</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <div class="list card" ng-show="admin">
      <a class="item item-icon-right" href="#/tab/settings/new/">
        <p class="dark">Lägg till ny vara</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <div class="list card">
      <div class="item item-toggle">
        <p class="dark">Ljud i appen</p>
        <label class="toggle toggle-royal-900">
          <input type="checkbox" ng-model="settings.allowAudio" ng-change="updateSetting('allowAudio')">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>      
    <button class="button button-block button-assertive ink" ng-click="logout()">Logga ut</button>
  </ion-content>
</ion-view>