<ion-view hide-nav-bar="false" view-title="Favoriter">
  <ion-content class="has-header has-tabs">
    <div class="card" style="background-color:none; box-shadow:none; margin-top:0px; padding-top:0px;">
      <label class="item item-input inputField" style="width:100%;">
        <i class="icon ion-search placeholder-icon"></i>
        <input style="color: white;" type="search" ng-enter placeholder="Sök" ng-model="query.text.name">
      </label>
    </div>
    <div class="list no-padding">
      <div class="card clear-bg in favs" ng-repeat="i in items | filter: query.text:strict" on-tap="onTap(i)" ng-style="isSelected(i) ? {} : passiveStyle" ng-cloak>
        <a class="item dark-bg item-bg-image item-text-wrap specialCard" style="background: url('{{i.image}}') center no-repeat;">
          <h2 ng-bind="i.name"></h2>
          <span class="badge badge-assertive" ng-show="i.count" ng-bind="i.count"></span>
          <div class="card-footer">
            <!-- <div style="display: block; background-color: black; height: 20px;"> -->
              <p ng-show="i.amount" style="position: absolute; float:left;">#{{i.amount}} - {{i.price}}kr</p>  
            <!-- </div> -->
            
          </div>
        </a>
      </div>
    </div>    
  </ion-content>
  <button id="fab-profile" class="button button-fab deleteFab button-light fabShow ng-cloak ng-hide" ng-click="deselect()" ng-show="!isSelected()"><i class="icon ion-close"></i></button>
  <button id="fab-profile" class="button button-fab buyFab button-royal-900 fabShow ng-cloak ng-hide" ng-click="checkOut()" ng-show="!isSelected()"><i class="icon ion-ios-cart"></i></button>
</ion-view>