<ion-view view-title="Favoriter">
    <ion-content class="has-header has-tabs">
        <div class="list half">
            <div ng-controller="GalleryCtrl" ng-repeat="i in items" ng-if="$even" on-hold="onHold(i.item_id, count)" ng-init="count=0" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg" on-tap="count = count + 1" style="background: url('{{i.image}}');">
                    <h2>{{i.name}}</h2>
                    <h1><center ng-show="count"> {{count}}</center></h1>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        {{i.heavydrinker}}
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-close" ng-show="count" on-tap="count=0"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="list half">
            <div ng-controller="GalleryCtrl" ng-repeat="i in items" ng-if="$odd" on-hold="onHold(i.item_id, count)" ng-init="count=0" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg" on-tap="count = count + 1" style="background: url('{{i.image}}');">
                    <h2>{{i.name}}</h2>
                    <h1><center ng-show="count"> {{count}}</center></h1>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        {{i.heavydrinker}}
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-close" ng-show="count" on-tap="count=0"></i>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
