<ion-view  view-title="<i class='icon ion-chatbubbles positive'></i> {{firstname}} buys ... {{item}}.">
  <ion-content class="has-header has-tabs">
    <div ng-controller="FeedCtrl" ng-repeat="e in event" class="card">
      <div class="item item-text-wrap">
      <div><strong>{{e.firstname}} {{e.lastname}}</strong>           
      <div class="pull-right">
            <i class="icon ion-clock"></i> <span><small>{{e.date | amTimeAgo}}</small></span> 
      </div> <br/> {{e.comment}}</div>
      </div>
      </div>

 <div class="list" style="padding: 10px;"><input type="text" placeholder="kommentera ..." ng-model="comment.text"> <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="addComment();"> Lägg till </button> </div>
                
  </ion-content>
</ion-view>
