<ion-view view-title="Profil">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap" style="padding-bottom:0px;padding-top:0px">
        <highchart config="chartLobare" class="Chartcenter"></highchart>
      </div>
    </div>  
    <div class="card">
      <div class="item item-text-wrap" style="padding-bottom:0px;padding-top:0px">
        <highchart config="chartAmount" class="Chartcenter"></highchart>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap" style="padding-bottom:0px;padding-top:0px">
        <highchart config="chartDebt" class="Chartcenter"></highchart>
      </div>
    </div>    
    <div class="card">
      <div class="item item-text-wrap" style="padding-bottom:0px;padding-top:0px">
        <highchart config="chartPie" class="Chartcenter"></highchart>
      </div>
    </div>        
  </ion-content>
</ion-view>

<!-- <ion-view view-title="Profil">
<ion-content>
<nvd3 options="options" data="profile"></nvd3>    
</ion-content>
</ion-view> -->
