<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-background-light tabs-color-royal">

  <ion-tab icon="ion-ios-list" href="#/tab/feed">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>

   <ion-tab icon="ion-ios-barcode" href="#/tab/scan">
    <ion-nav-view name="tab-scan"></ion-nav-view>
  </ion-tab>   

  <ion-tab icon="ion-ios-star" href="#/tab/fav">
    <ion-nav-view name="tab-fav"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-ios-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>  
 
</ion-tabs>
  