/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}

.has-header {
    top: 45px;
}

.inputField {
  background-color: rgba(40,40,40, 0.75);
  margin-top: 10px;
}

.login-container {
    background: url("../img/login.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.id-container {
    background: url("../img/alc1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.register-container {
    background: url("../img/alc2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.reset-container {
    background: url("../img/alc2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


.center {
  -webkit-align-content: stretch;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: center;
  align-content: stretch;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

div.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}
.spinner svg {
  width: 19% !important;
  height: 85px !important;
}

.has-tabs {
    bottom: 60px;
}

.buyFab {
  top: auto;
  right: 16px;
  bottom: 65px;
  left: auto;
  position: absolute;
}

.deleteFab {
  top: auto;
  right: 84px;
  bottom: 65px;
  left: auto;
  position: absolute;
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

/* Feed avatar
===================================*/

.item-avatar .pink {
  background: #ff80ab; }
.item-avatar .green {
  background: #b9f6ca; }
.item-avatar .blue {
  background: #84ffff; }
.item-avatar .purple {
  background: #b388ff; }

  /* Fav avatar
===================================*/

.ink .pink {
  background: #ff80ab; }
.ink .green {
  background: #b9f6ca; }
.ink .blue {
  background: #84ffff; }
.ink .purple {
  background: #b388ff; }

.dark-bg h2 {
  height: 70px;
}